Flask==0.10.1
Flask-RESTful==0.2.12
Jinja2==2.7.2
MarkupSafe==0.23
Werkzeug==0.9.4
amqp==1.4.5
aniso8601==0.82
anyjson==0.3.3
backports.ssl-match-hostname==3.4.0.2
billiard==3.3.0.17
celery==3.1.11
flake8==2.1.0
flask-restful-swagger==0.10
gnureadline==6.3.3
ipython==2.1.0
itsdangerous==0.24
kombu==3.0.16
mccabe==0.2.1
pep8==1.5.6
pika==0.9.13
pyflakes==0.8.1
pytz==2014.3
pyzmq==14.3.0
six==1.6.1
tornado==3.2.1
wsgiref==0.1.2
