---

- name: Ensure https transport available
  apt: name=apt-transport-https state=present
  sudo: yes

- name: Import key
  apt_key:
    keyserver: hkp://p80.pool.sks-keyservers.net:80
    id: 58118E89F3A912897C070ADBF76221572C52609D
    state: present
  sudo: yes

- name: Get kernel version number
  shell: uname -r
  register: kernel_version
  changed_when: False

- name: Ensure AUFS kernel extensions are available
  apt:
    name: "{{ item }}"
    state: present
  sudo: yes
  with_items:
    - linux-image-extra-{{ kernel_version.stdout }}
    - linux-image-extra-virtual

- name: Add docker repository
  apt_repository:
    repo: "deb https://apt.dockerproject.org/repo ubuntu-trusty main"
    state: present
  sudo: yes
  notify:
    - Update apt cache

- meta: flush_handlers

- name: Install docker latest
  apt: name=docker-engine
  sudo: yes

- name: Ensure bridge utils are installed
  apt: name=bridge-utils state=present
  sudo: yes

- name: Ensure docker-py is installed
  pip:
    name: docker-py
    version: 1.1.0
    state: present
  sudo: yes
